.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: #f9f9f9;
}

.Card-icon {
  width: 64px;
  height: 64px;
}

.Card-number {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  width: 50px;
  text-align: center;
  white-space: nowrap;
}

/* for mobile devices */
@media (max-width: 600px) {
  .Card {
    width: 12%;
    height: 60px;
    margin: 1px;
  }

  .Card-icon {
    width: 32px;
    height: 32px;
  }

  .Card-number {
    font-size: 12px;
    width: 40px;
  }
}
